@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply p-2;
}

input {
  @apply ring-2 rounded-sm ring-black/50 p-1;
}

body {
  @apply overflow-hidden bg-black;
}

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
